/* the card for the event */
.cardEvent {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: -1px 0 15px 1px rgba(0, 0, 0, 0.27);
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.cardEvent:hover {
    transform: scale(1.02);
}

/* the first image of the event */
.cardImageEvent {
    border-radius: 4px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* the text of the event */
.cardTextEvent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* the title of the event */
.cardTextEvent h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding-top: 10px;
    word-break: break-word;
}

/* the button to see more */
.cardButtonEvent {
    margin: 10px auto;
}