.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    width: 45vw;
    font-size: 1.1rem;
}

.popupTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-button-group {
    display: flex;
    align-items: center;
}

.input-button-group input {
    margin-right: 10px;
}

#imageUrl, #link {
    width: 35vw;
}

input:not(#imageUrl,#link), textarea {
    width: 43vw;
}

#description {
    height: 15vw;
    resize: none;
}

button:not(.submitBtn) {
    width: auto;
    margin-top: 0;
}

.submitBtn {
    width: 43vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.added-items-table {
    width: 100%;
    border-collapse: collapse;
}

.added-items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

.link-cell {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0; /* Ajoutez cette ligne */
}

.link-cell a, .link-cell p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; /* Ajoutez cette ligne */
}

.button-cell {
    width: 30%;
    text-align: right;
}

.button-cell button {
    margin-left: 5px;
}